USE [master]
GO
/****** Object:  Database [FlowerShop]    Script Date: 6/5/2024 9:12:04 PM ******/
CREATE DATABASE [FlowerShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Tad', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SERVER\MSSQL\DATA\DB_Tad.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Tad_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SERVER\MSSQL\DATA\DB_Tad_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FlowerShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FlowerShop]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 6/5/2024 9:12:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](10) NULL,
	[Avatar] [nvarchar](100) NULL,
	[Status] [bit] NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[RoleID] [nvarchar](10) NOT NULL,
	[DefaultAddress] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 6/5/2024 9:12:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[WardID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 6/5/2024 9:12:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[ProductID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 6/5/2024 9:12:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupon]    Script Date: 6/5/2024 9:12:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupon](
	[CouponID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Discount] [float] NOT NULL,
	[PostingDate] [datetime] NOT NULL,
	[ExpiryDate] [datetime] NULL,
	[Detail] [ntext] NULL,
	[Status] [bit] NOT NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_Coupon] PRIMARY KEY CLUSTERED 
(
	[CouponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 6/5/2024 9:12:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[DistrictID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ProvinceID] [int] NOT NULL,
 CONSTRAINT [PK_District] PRIMARY KEY CLUSTERED 
(
	[DistrictID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 6/5/2024 9:12:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[RatingStar] [smallint] NOT NULL,
	[Status] [bit] NOT NULL,
	[FeedbackContent] [ntext] NULL,
	[PostingDate] [datetime] NOT NULL,
	[AccountID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 6/5/2024 9:12:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[ProductID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Coupon] [float] NULL,
 CONSTRAINT [PK_OrderDetail_1] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/5/2024 9:12:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderTime] [datetime] NOT NULL,
	[DeliveryTime] [datetime] NULL,
	[StatusOrder] [smallint] NOT NULL,
	[AccountID] [int] NOT NULL,
	[DefaultAddress] [ntext] NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 6/5/2024 9:12:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[Price] [money] NOT NULL,
	[Image] [nvarchar](100) NULL,
	[Quantity] [int] NOT NULL,
	[Detail] [ntext] NULL,
	[PostingDate] [date] NOT NULL,
	[Unit] [nvarchar](20) NULL,
	[CategoryID] [int] NOT NULL,
	[CouponID] [int] NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 6/5/2024 9:12:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[ProvinceID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[ProvinceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/5/2024 9:12:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [nvarchar](10) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ward]    Script Date: 6/5/2024 9:12:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ward](
	[WardID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DistrictID] [int] NOT NULL,
 CONSTRAINT [PK_Ward] PRIMARY KEY CLUSTERED 
(
	[WardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 6/5/2024 9:12:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[ProductID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_Wishlist] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [LastName], [FirstName], [Email], [PhoneNumber], [Avatar], [Status], [Password], [RoleID], [DefaultAddress]) VALUES (14, N'Nguyễn Thị Thanh', N'He', N'huyen0502@gmail.com', N'0868273885', N'acc_4.png', 1, N'$2a$12$.N.zNff4v/353pw/VKEsB.bk1JKiblI8q82PHvrnzuSIqhIlwJVHK', N'ADMIN', NULL)
INSERT [dbo].[Account] ([AccountID], [LastName], [FirstName], [Email], [PhoneNumber], [Avatar], [Status], [Password], [RoleID], [DefaultAddress]) VALUES (35, N'Trần Nguyên', N'Nguyên', N'tnn003@gmail.com', N'0856738591', N'acc_2.png', 1, N'$2a$12$.N.zNff4v/353pw/VKEsB.bk1JKiblI8q82PHvrnzuSIqhIlwJVHK', N'GUEST', 3)
INSERT [dbo].[Account] ([AccountID], [LastName], [FirstName], [Email], [PhoneNumber], [Avatar], [Status], [Password], [RoleID], [DefaultAddress]) VALUES (36, N'Phạm Văn', N'Minh', N'pvm@gmail.com', N'0376475278', N'acc_7.png', 1, N'$2a$12$.N.zNff4v/353pw/VKEsB.bk1JKiblI8q82PHvrnzuSIqhIlwJVHK', N'GUEST', 3)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([AddressID], [Name], [WardID], [AccountID]) VALUES (3, N'A50', 2, 36)
INSERT [dbo].[Address] ([AddressID], [Name], [WardID], [AccountID]) VALUES (4, N'Vườn Lài', 16, 61)
INSERT [dbo].[Address] ([AddressID], [Name], [WardID], [AccountID]) VALUES (41, N'A213', 160, 37)
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
INSERT [dbo].[Cart] ([ProductID], [AccountID], [Quantity]) VALUES (5, 39, 3)
INSERT [dbo].[Cart] ([ProductID], [AccountID], [Quantity]) VALUES (5, 45, 10)
INSERT [dbo].[Cart] ([ProductID], [AccountID], [Quantity]) VALUES (6, 39, 4)
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [Name], [Image]) VALUES (1, N'Khai Trương', N'cate-1.jpg')
INSERT [dbo].[Category] ([CategoryID], [Name], [Image]) VALUES (2, N'Hoa Cưới', N'cate-2.png')
INSERT [dbo].[Category] ([CategoryID], [Name], [Image]) VALUES (3, N'Hoa tang lễ', N'cate-3.jpg')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Coupon] ON 

INSERT [dbo].[Coupon] ([CouponID], [Name], [Discount], [PostingDate], [ExpiryDate], [Detail], [Status], [AccountID]) VALUES (27, N'Ngày 9/3', 0.2, CAST(N'2023-06-29T00:00:00.000' AS DateTime), CAST(N'2023-07-02T00:00:00.000' AS DateTime), N'Ngày 8/3', 1, 39)
INSERT [dbo].[Coupon] ([CouponID], [Name], [Discount], [PostingDate], [ExpiryDate], [Detail], [Status], [AccountID]) VALUES (28, N'Ngày 8/3', 0.5, CAST(N'2023-06-09T00:00:00.000' AS DateTime), CAST(N'2023-06-15T00:00:00.000' AS DateTime), N'Dịp Giảm 50%', 1, 38)
INSERT [dbo].[Coupon] ([CouponID], [Name], [Discount], [PostingDate], [ExpiryDate], [Detail], [Status], [AccountID]) VALUES (29, N'Ngày quốc tế thiếu nhi', 0.2, CAST(N'2023-06-09T00:00:00.000' AS DateTime), CAST(N'2023-06-15T00:00:00.000' AS DateTime), N'Giảm giá', 1, 38)
SET IDENTITY_INSERT [dbo].[Coupon] OFF
GO
SET IDENTITY_INSERT [dbo].[District] ON 

INSERT [dbo].[District] ([DistrictID], [Name], [ProvinceID]) VALUES (1, N'Quận 1', 1)
INSERT [dbo].[District] ([DistrictID], [Name], [ProvinceID]) VALUES (2, N'Quận 12', 1)
INSERT [dbo].[District] ([DistrictID], [Name], [ProvinceID]) VALUES (3, N'Quận Gò Vấp', 1)
SET IDENTITY_INSERT [dbo].[District] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackID], [RatingStar], [Status], [FeedbackContent], [PostingDate], [AccountID], [ProductID]) VALUES (1, 1, 1, N'Hoa chất lượng', CAST(N'2023-05-16T00:00:00.000' AS DateTime), 39, 3)
INSERT [dbo].[Feedback] ([FeedbackID], [RatingStar], [Status], [FeedbackContent], [PostingDate], [AccountID], [ProductID]) VALUES (4, 2, 1, N'Sản phẩm tuyệt vời', CAST(N'2023-05-15T00:00:00.000' AS DateTime), 39, 5)
INSERT [dbo].[Feedback] ([FeedbackID], [RatingStar], [Status], [FeedbackContent], [PostingDate], [AccountID], [ProductID]) VALUES (5, 3, 1, N'Giao hàng nhanh', CAST(N'2023-05-16T19:10:09.580' AS DateTime), 39, 6)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
INSERT [dbo].[OrderDetail] ([ProductID], [OrderID], [Quantity], [Coupon]) VALUES (1, 70, 1, 0.5)
INSERT [dbo].[OrderDetail] ([ProductID], [OrderID], [Quantity], [Coupon]) VALUES (1, 81, 1, 0)
INSERT [dbo].[OrderDetail] ([ProductID], [OrderID], [Quantity], [Coupon]) VALUES (2, 75, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [OrderTime], [DeliveryTime], [StatusOrder], [AccountID], [DefaultAddress], [Price]) VALUES (70, CAST(N'2023-06-02T01:45:46.257' AS DateTime), CAST(N'2023-06-02T02:15:46.257' AS DateTime), 2, 36, N'A50, Xã Hải Bối, Huyện Đông Anh, Thành phố Hà Nội', 517500.0000)
INSERT [dbo].[Orders] ([OrderID], [OrderTime], [DeliveryTime], [StatusOrder], [AccountID], [DefaultAddress], [Price]) VALUES (71, CAST(N'2023-06-02T01:51:30.160' AS DateTime), CAST(N'2023-06-02T02:21:30.160' AS DateTime), 2, 36, N'A50, Xã Hải Bối, Huyện Đông Anh, Thành phố Hà Nội', 104000.0000)
INSERT [dbo].[Orders] ([OrderID], [OrderTime], [DeliveryTime], [StatusOrder], [AccountID], [DefaultAddress], [Price]) VALUES (72, CAST(N'2023-06-02T02:24:27.287' AS DateTime), CAST(N'2023-06-02T02:54:27.287' AS DateTime), 2, 36, N'A50, Xã Hải Bối, Huyện Đông Anh, Thành phố Hà Nội', 1142800.0000)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [Price], [Image], [Quantity], [Detail], [PostingDate], [Unit], [CategoryID], [CouponID], [AccountID]) VALUES (2, N'Tia Nắng
', 750000.0000, N'product-2.jpg', 98, N'Em là tia nắng của cuộc đời anh, soi sáng những khoảnh khắc tăm tối nhất trong anh, làm anh trở nên mạnh mẽ hơn bao giờ hết. Tặng cô ấy bó hoa Tia Nắng thay cho lời cảm ơn nhé!

Bó hoa Tia nắng được thiết kế từ

Hoa hồng đỏ: 25 cành
Các loại hoa lá phụ: Lá bạc
', CAST(N'2024-01-01' AS Date), N'Bó', 1, NULL, 39)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([ProvinceID], [Name]) VALUES (1, N'TP. Hồ Chí Minh')
INSERT [dbo].[Province] ([ProvinceID], [Name]) VALUES (2, N'Tỉnh Bình Dương')
INSERT [dbo].[Province] ([ProvinceID], [Name]) VALUES (3, N'Tỉnh Đồng Nai')
SET IDENTITY_INSERT [dbo].[Province] OFF
GO
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (N'ADMIN', N'Admin')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (N'EMPLOYEE', N'Employee')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (N'GUEST', N'Guest')
GO
SET IDENTITY_INSERT [dbo].[Ward] ON 

INSERT [dbo].[Ward] ([WardID], [Name], [DistrictID]) VALUES (1, N'Phường Tân Định', 1)
INSERT [dbo].[Ward] ([WardID], [Name], [DistrictID]) VALUES (2, N'Phường Đa Kao', 1)
INSERT [dbo].[Ward] ([WardID], [Name], [DistrictID]) VALUES (3, N'Phường Bến Nghé', 1)
GO
SET IDENTITY_INSERT [dbo].[Ward] OFF
GO
INSERT [dbo].[Wishlist] ([ProductID], [AccountID]) VALUES (1, 37)
INSERT [dbo].[Wishlist] ([ProductID], [AccountID]) VALUES (3, 39)
INSERT [dbo].[Wishlist] ([ProductID], [AccountID]) VALUES (5, 36)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Account_Email]    Script Date: 6/5/2024 9:12:04 PM ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [UK_Account_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_Category_Image]    Script Date: 6/5/2024 9:12:04 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_Category_Image] ON [dbo].[Category]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Category_Name]    Script Date: 6/5/2024 9:12:04 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_Category_Name] ON [dbo].[Category]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_Feedback_AccountProduct]    Script Date: 6/5/2024 9:12:04 PM ******/
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [UK_Feedback_AccountProduct] UNIQUE NONCLUSTERED 
(
	[AccountID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_Province_Name]    Script Date: 6/5/2024 9:12:04 PM ******/
ALTER TABLE [dbo].[Province] ADD  CONSTRAINT [UK_Province_Name] UNIQUE NONCLUSTERED 
(
	[ProvinceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF__Account__Default__5441852A]  DEFAULT ('') FOR [DefaultAddress]
GO
ALTER TABLE [dbo].[Cart] ADD  CONSTRAINT [DF_Cart_Quantity]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Coupon] ADD  CONSTRAINT [DF_Coupon_Discount]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Coupon] ADD  CONSTRAINT [DF_Coupon_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [DF_Feedback_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [DF_Feedback_PostingDate]  DEFAULT (getdate()) FOR [PostingDate]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_OrderTime]  DEFAULT (getdate()) FOR [OrderTime]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Order_Status]  DEFAULT ((0)) FOR [StatusOrder]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_Quantity]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_PostingDate]  DEFAULT (getdate()) FOR [PostingDate]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK__Account__DefaultAddress] FOREIGN KEY([DefaultAddress])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK__Account__DefaultAddress]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Account]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Ward] FOREIGN KEY([WardID])
REFERENCES [dbo].[Ward] ([WardID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Ward]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Account]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product]
GO
ALTER TABLE [dbo].[Coupon]  WITH CHECK ADD  CONSTRAINT [FK_Coupon_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Coupon] CHECK CONSTRAINT [FK_Coupon_Account]
GO
ALTER TABLE [dbo].[District]  WITH CHECK ADD  CONSTRAINT [FK_District_Province] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ProvinceID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[District] CHECK CONSTRAINT [FK_District_Province]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Account]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Product]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product1] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product1]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Account]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Coupon] FOREIGN KEY([CouponID])
REFERENCES [dbo].[Coupon] ([CouponID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Coupon]
GO
ALTER TABLE [dbo].[Ward]  WITH CHECK ADD  CONSTRAINT [FK_Ward_District] FOREIGN KEY([DistrictID])
REFERENCES [dbo].[District] ([DistrictID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ward] CHECK CONSTRAINT [FK_Ward_District]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Account_ID] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_Account_ID]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_Product]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [CK_Cart_Quantity] CHECK  (([Quantity]>=(1)))
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [CK_Cart_Quantity]
GO
ALTER TABLE [dbo].[Coupon]  WITH CHECK ADD  CONSTRAINT [CK_Coupon_DateCmp] CHECK  (([PostingDate]<=[ExpiryDate]))
GO
ALTER TABLE [dbo].[Coupon] CHECK CONSTRAINT [CK_Coupon_DateCmp]
GO
ALTER TABLE [dbo].[Coupon]  WITH CHECK ADD  CONSTRAINT [CK_Coupon_Discount] CHECK  (([Discount]>=(0) AND [Discount]<(1)))
GO
ALTER TABLE [dbo].[Coupon] CHECK CONSTRAINT [CK_Coupon_Discount]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [CK_Feedback_RatingStart] CHECK  (([RatingStar]>=(1) AND [RatingStar]<=(5)))
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [CK_Feedback_RatingStart]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [CK_OrderDetail_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [CK_OrderDetail_Quantity]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Order_Status] CHECK  (([StatusOrder]>=(0) AND [StatusOrder]<=(3)))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Order_Status]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_Price] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_Price]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_Quantity] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_Quantity]
GO
/****** Object:  StoredProcedure [dbo].[SP_FindAddressUser]    Script Date: 6/5/2024 9:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[SP_FindAddressUser](
	@id as int
)
as
begin
Select AccountID = @id, AddressID from AddressAccount
where AddressAccount.AccountID = @id
end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 : chờ xác nhận
1 : đang giao
2 : đã giao
 
3 : đã hủy
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'StatusOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'AccountID'
GO
USE [master]
GO
